.header {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
}

.navigation-links {
  padding-left: 10px;
  color:rgb(44, 44, 65)
}
.navigation-links:hover {
  color:rgb(76, 76, 196)
}
.navigation-links.active {
  font-weight: bold;
}

#nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(121, 197, 237);
}

.cards {
  border-style: solid;
  border-color: blue;
  border-width: 5px;
  width: 100px;
  height: 100px;
  padding: 10px;
  justify-content: center;
  margin: 10px;
  text-align: center;
}
.medium_card {
  border-style: solid;
  border-color: palevioletred;
  border-width: 5px;
  width: 40%;
  height: 200px;
  padding: 10px;
  justify-content: center;
  margin: 10px
}
.deck_cards {
  border-style: solid;
  border-color: rgb(25, 25, 48);
  border-width: 5px;
  width: 175px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.card_container {
  display: flex;
  flex-wrap: wrap;
}