.header {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
}

.navigation-links {
  padding-left: 10px;
  color:rgb(44, 44, 65)
}
.navigation-links:hover {
  color:rgb(76, 76, 196)
}
.navigation-links.active {
  font-weight: bold;
}

#nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(121, 197, 237);
}